target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

sonar-project.properties
dbDumps/
dbDumps/*
.clover
.clover/
.clover/*
node_modules
node_modules/
node_modules/*

src/main/resources/city_data/*
src/main/resources/city_data/OSM_DATA/*

#discard latex files
*.aux
*.log
*.out
*.pdf
*.lof
