html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.fullscreen-Cesium {
    width: 100% !important;
    height: 100%;
    margin: 0 0 !important;
    padding: 0 0 !important;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#errorMessage{
    text-align: -webkit-center;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    font-size: 20pt;
}

#side_menu{
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    float:left;
}

#side_menu_legend{
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    float:left;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 13px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.sectionHeader{
    margin: 0px;
}

.sectionContent{
    padding-left: 5%;
}
.divider{
    margin: 5%;
}

.toolbar-left {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

.cesium-credits-wrapper {
    position: relative;
    display: inline-block;
}

.links_style{
    display: inline-table !important;
}

.links_style:hover{
    text-decoration: underline;
}

.cesium-infoBox-defaultTable td{
    color: tomato !important;
}

#loadingSpinnerBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    opacity: 0.5;
    background: white url("../images/loading.gif") center no-repeat;
    background-size: contain;
    z-index: 99;
}

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

#side_wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}

.credits-box {
    font-size: 11pt;
    width: 100%;
    height: 100%;
}

.icon-size {
    font-size: 21pt;
    width:64px;
    height: 64px;
}

.logo_style {
    width: 85%;
    height: 85%;
}

.querySection select,
.querySection p {
    display: inline;
    /*vertical-align: top;*/
    line-height: 28px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-s6z2 {
    text-align: center
}

.tg .tg-yw4l {
    vertical-align: top
}



#credits_table a,
#credits_table p {
    line-height: 28px;
}

#history_list {
    margin-bottom: 14px;
    list-style: none;
    padding: 0;
}

.history_item {
    margin: 0 0 7px 0;
}

.history_item a {
    text-align: -webkit-left;
    display: block;
    margin: 0 0 7px 0;
    background: #F7F5F2 center no-repeat;
    /*background: #F7F5F2 url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAcCAYAAACQ0cTtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAcVJREFUSEvtVtFNxDAM7QiMwAiMwAiMwAhs4PZSic8bgRFuhI5wI3QERjjyYjuJrnaagoSExElRT4njZzvPLxmG/99vVIBofhrHcB6neYnjM46bfBfME4XnH8cBJwIA5zoAqKOaD+u3QSUTdjaGD6LTixU95rGeg4mZHsqybO6PNpV6ClcNrguQpjBylOFKRA9dm8QI9hVgO0OOjg/fA6LT/IqA8LXLWgCbZ6hkaBlVhFm8rIVYCNq2IXp/lKxcJ3DeAyZ2F/hDtTZB0TS/pUWnPLqhFyyxFP5iyTdgykBk2CKFBeadr1spdWIB1cy8B1MGOvtW89zaYKUVarCa6jYYK822jCxBN2eTyBKaVhqX7RMJGvugowYYC63JHpCm0sZaJ9N/i1ScdQrksmWjOAQrzWZ1AE22RQcaoOmvRBJWt1mzlMkNEAXYsy0C4bA709/JLjWrKnwDSHsMtm4bSXY41KiNRuer4DYaX/RVfLR7dshR7QDaIpyEPN3ke0qU99fs8whwDyZydwxInUiG8t4Iq/XWgLozSFzXq2lHW5tnKJepgOZ3yKbX+Omwc0Yt0a3XkKkAQzWSDKVLFPMHb/RezL9l9wWuQAy9JbrovAAAAABJRU5ErkJggg==) 97% center no-repeat;*/
    font-size: 18px;
    color: #333;
    padding: 5px 0 0 20px;
    text-decoration: none;
    cursor: hand;
}

.history_item a:hover {
    background-color: #EFEFEF;
    text-decoration: none;
}

.blue {
    border-left: 5px solid #337ab7;
}

#legend-wrapper {
    min-height: 8%;
    max-width: 40%;
    max-height: 16%;
    z-index: 1;
    width: 50%;
    position: fixed;
    left: 30%;
    font-size: 12px;
    background-color: rgba(48, 51, 54, 0.5);
    border-radius: 10pt;
    top: 0;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.hidden-wrapper {
    top: -100% !important;
}

.legend-container {
    display: flex;
    height: 25px;
    margin-bottom: 25px;
    padding: 2% 2% 0 2%;
}

.legend-header {
    padding: 1% 0 0 0;
    margin: 0 0 0 45%;
    font-weight: bold;
    display: inline-table;
    color: white;
    top: 15px;
}

#color-legend-line {
    border-radius: 5pt;
    width: 100%;
    background: linear-gradient(to right, lime 25%, blue 50%, yellow 75%, red 100%);
    position: relative;
    margin: 0 6% 0 6%;
}

.legend-content {
    position: absolute;
    display: inline-table;
    color: white;
}

.subsection-menu {
    text-align: -webkit-left;
}

.visualize-table {
    margin: 0 0 0 20px !important;
}

.suburb-color-square {
    display: inline-block;
    margin-right: 10px;
}

.suburb-label{
    display:inline-block;
}

.subsection-border {
    border-bottom: 2px solid gray;
}

.alignment-suburb {
    text-align: -webkit-left;
    padding-left: 10pt;
}

/*WEBCAM LUGANO SLIDER */

.nivo-lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nivo-lightbox-overlay.nivo-lightbox-open {
    visibility: visible;
    opacity: 1;
}

.nivo-lightbox-notouch .nivo-lightbox-effect-fade, .nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale, .nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft, .nivo-lightbox-notouch .nivo-lightbox-effect-slideRight, .nivo-lightbox-notouch .nivo-lightbox-effect-slideUp, .nivo-lightbox-notouch .nivo-lightbox-effect-slideDown, .nivo-lightbox-notouch .nivo-lightbox-effect-fall {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #666;
    background: rgba(0, 0, 0, 0.6);
}

.nivo-lightbox-wrap {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.nivo-lightbox-content {
    width: 100%;
    height: 100%;
}

.nivo-lightbox-content {
    width: 100%;
    height: 100%;
}

.nivo-lightbox-title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
}

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap {
    bottom: -7%;
}

.nivo-lightbox-theme-default .nivo-lightbox-title {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
    background-position: 0px 0px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
    color: white;
    font-size: 20pt;
    cursor: pointer;
    cursor: hand;
}

.nivo-lightbox-close {
    position: absolute;
    top: 2%;
    right: 2%;
}


/*New style after new sidebar*/
* {
    box-sizing: border-box;
}

body {
    background-color: #343838;
    font-size: 16px;
}

#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title {
    color: #f6f6f6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#btn {
    position: fixed;
    z-index: 5;
    top: 1.35em;
    left: 15px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: lightcyan;
    -webkit-transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn.active {
    top: 1.35em;
    left: 22.5em;
}
#btn.active div {
    background-color: #343838;
}
#btn.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
    opacity: 0;
    /* transform: rotate(135deg); */
}
#btn.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 26em;
    opacity: 0;
    padding: 0px 0px;
    height: 100%;
    background-color: #f6f6f6;
    color: #343838;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
    left: 0px;
    opacity: 1;
}

#items {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#items .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}
#items .item:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}

#btn, #btn * {
    will-change: transform;
}

.querySection{
    border-bottom: 2px solid gray;
}

.selectStyle{
    min-width:100%;
}

.query-info-list{
    right: -7pt;
    z-index: 1;
    position: absolute;
    top: 73%;
    color: white;
    overflow: auto;
    width: 34%;
    height: 20%;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    background-color: rgba(38, 38, 38, 0.95);
    border-radius: 10px;
}

.query-info-result{
    padding: 10px;
    background-color: grey;
    margin: 12px;
    border-radius: 20px;
}

.building-info-content{
    width: 100%;
    height: 30px;
}

.building-info-id{
    float: left;
}

.building-info-button{
    float: right;
    margin-left: 10px;
    cursor: hand;
}