html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.fullscreen-Cesium {
    width: 100% !important;
    height: 100%;
    margin: 0 0 !important;
    padding: 0 0 !important;
    overflow: hidden;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#errorMessage{
    text-align: -webkit-center;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    font-size: 20pt;
}

#side_menu{
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    float:left;
}

#side_menu_legend{
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    float:left;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 13px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.sectionHeader{
    margin: 0px;
}

.sectionContent{
    padding-left: 5%;
}
.divider{
    margin: 5%;
}

.toolbar-left {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

.cesium-credits-wrapper {
    position: relative;
    display: inline-block;
}

.links_style{
    display: inline-table !important;
}

.links_style:hover{
    text-decoration: underline;
}

.cesium-infoBox-defaultTable td{
    color: tomato !important;
}

#loadingSpinnerBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    opacity: 0.5;
    background: white url("../images/loading.gif") center no-repeat;
    z-index: 99;
}

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

#side_wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:auto;
}

.credits-box {
    font-size: 11pt;
    width: 100%;
    height: 100%;
}

.icon-size {
    font-size: 21pt;
    width:64px;
    height: 64px;
}

.logo_style {
    width: 85%;
    height: 85%;
}

.querySection select,
.querySection p {
    display: inline;
    /*vertical-align: top;*/
    line-height: 28px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.tg td {
    overflow: hidden;
    word-break: normal;
}

.tg th {
    overflow: hidden;
    word-break: normal;
}

.tg .tg-0ord {
    text-align: right
}

#credits_table a,
#credits_table p {
    line-height: 28px;
}