<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8"/>
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/Cesium/Build/Cesium/Widgets/widgets.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/Cesium/Build/Cesium/Widgets/BaseLayerPicker/BaseLayerPicker.css}"/>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{images/SIVC-logo/apple-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{images/SIVC-logo/apple-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{images/SIVC-logo/apple-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{images/SIVC-logo/apple-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{images/SIVC-logo/apple-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{images/SIVC-logo/apple-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{images/SIVC-logo/apple-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{images/SIVC-logo/apple-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{images/SIVC-logo/apple-icon-180x180.png}"/>
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{images/SIVC-logo/android-icon-192x192.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{images/SIVC-logo/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{images/SIVC-logo/favicon-96x96.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/SIVC-logo/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{images/SIVC-logo//manifest.json}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>

    <script th:src="@{/js/modernizr.custom.js}" type="text/javascript"></script>

    <title>SMART-IVC</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="loadingSpinnerBackground"></div>
<div id="legend-wrapper" class="hidden-wrapper">
    <div id="floors-legend">
        <p class="legend-header">Floors</p>
        <div class="legend-container">
            <p class="legend-content" style="left: 5%;">0</p>
            <div id="color-legend-line"></div>
            <p id="maxHeightLegend" class="legend-content" style="left: 94%;"></p>
        </div>
    </div>
</div>


<div class="nivo-lightbox-overlay nivo-lightbox-theme-default nivo-lightbox-effect-fade nivo-lightbox-open hidden-wrapper" id="webCamDiv">
    <div class="nivo-lightbox-wrap">
        <div class="nivo-lightbox-content" style="text-align: center;" id="webCamWrapper">
        </div>
        <div class="nivo-lightbox-title-wrap"><span class="nivo-lightbox-title" id="webCamTitle"></span></div>
    </div>
    <i class="fa fa-times nivo-lightbox-close" aria-hidden="true" id="closeWebCamWrapper"></i>
</div>

<div id="page-wrapper">
    <div id="cesiumContainer"></div>
</div>


<div id="btn">
    <div id='top'></div>
    <div id='middle'></div>
    <div id='bottom'></div>
</div>
<div id="box">
    <ul class="nav nav-tabs">
        <li class="active icon-size"><a data-toggle="tab" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="icon-size"><a data-toggle="tab" href="#visualize_menu_tab"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
        <li class="icon-size"><a data-toggle="tab" href="#queryCity_menu_tab"><i class="fa fa-building" aria-hidden="true"></i></a></li>
        <li class="icon-size"><a data-toggle="tab" href="#queryHistory_menu_tab"><i class="fa fa-history" aria-hidden="true"></i></a></li>
        <li class="icon-size"><a data-toggle="tab" href="#credits_menu_tab"><i class="fa fa-info" aria-hidden="true"></i></a></li>
    </ul>
    <div class="tab-content" style="padding: 0 10pt 0pt 10pt;">
        <div id="home" class="tab-pane fade in active">
            <h2 style="text-align: center">Welcome to Smart-IVC</h2>
            <p style="text-align: center">Enhanced Visualization of Cities Through Smart Visual Queries</p>
            <img src="/images/logo.png" alt="Application Logo" class="logo_style"/>
            <h3 style="text-align: center">Start querying the city by selecting the tabs above</h3>
        </div>
        <div id="visualize_menu_tab" class="tab-pane fade">
            <h3>Visualize</h3>
            <div class="nowrap sectionContent" id="suburbsSelection">
                <h4 class="subsection-menu">Show on the map</h4>
                <form class="nowrap subsection-border" id="geolocalization">
                    <table class="tg visualize-table">
                        <tr>
                            <td class="tg-0ord">
                                <input id="geolocalizationPoint" name="coloring" value="default" type="checkbox"/>
                            </td>
                            <td class="tg-031e">
                                <label for="geolocalizationPoint">Geolocalization point</label><br/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-0ord">
                                <input id="webcamPoints" name="coloring" value="default" type="checkbox"/>
                            </td>
                            <td class="tg-031e">
                                <label for="webcamPoints">Webcams</label><br/>
                            </td>
                        </tr>
                    </table>
                </form>


                <h4 class="subsection-menu">Color City</h4>
                <form class="nowrap subsection-border" id="coloring">
                    <table class="tg visualize-table">
                        <tr>
                            <td class="tg-0ord">
                                <input id="colorDefault" name="coloring" value="default" type="radio" checked="checked"/>
                            </td>
                            <td class="tg-031e">
                                <label for="colorDefault">Default</label><br/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-0ord">
                                <input id="colorByHeight" name="coloring" value="height" type="radio"/>
                            </td>
                            <td class="tg-031e">
                                <label for="colorByHeight">By height</label><br/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-0ord">
                                <input id="colorBySuburb" name="coloring" value="suburb" type="radio"/>
                            </td>
                            <td class="tg-031e">
                                <label for="colorBySuburb">By Suburb</label>
                            </td>
                        </tr>
                    </table>
                </form>
                <h4 class="subsection-menu">Show Suburbs</h4>
                <table class="tg visualize-table" id="suburbsTable" style="width: 90%;"></table>
            </div>
        </div>
        <div id="queryCity_menu_tab" class="tab-pane fade">
            <h3>Query City</h3>

            <div style="float: left; margin-left: 10px; min-width: 100%; padding-right: 10pt;">
                <h4 class="subsection-menu">Select buildings where</h4>
                <table class="tg" style="min-width: 100%">
                    <tr>
                        <th class="tg-s6z2">
                            <form class="nowrap" id="byType">
                                <input id="byTypeSelection" name="byType" value="type" type="checkbox"/>
                            </form>
                        </th>
                        <th class="tg-031e" colspan="3">Type is</th>
                    </tr>
                    <tr class="querySection">
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">
                            <select id="buildingTypeCity" class="selectStyle">
                                <option selected="" disabled="" hidden="" value="">Choose...</option>
                            </select>
                        </td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                    </tr>


                    <tr>
                        <th class="tg-s6z2">
                            <form class="nowrap" id="byFloors">
                                <input id="byFloorsSelection" name="byFloors" value="floors" type="checkbox"/>
                            </form>
                        </th>
                        <th class="tg-031e" colspan="3">Number of floors is</th>
                    </tr>
                    <tr class="querySection">
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">
                            <select id="buildingFloorsComparisonCity" class="selectStyle">
                                <option selected="" disabled="" hidden="" value="">Choose...</option>
                                <option value="greater"> &#62;</option>
                                <!--<option value="greaterEqual"> &#62;&#61; </option>-->
                                <option value="equal"> &#61;</option>
                                <!--<option value="lessEqual"> &#60;&#61; </option>-->
                                <option value="less"> &#60;</option>
                            </select>
                        </td>
                        <td class="tg-yw4l"><input id="floorsNumber" type="text" name="numberOfFloors" size="2" maxlength="2" style="height: 25px;"/>
                        </td>
                        <td class="tg-yw4l"></td>
                    </tr>


                    <tr>
                        <th class="tg-s6z2">
                            <form class="nowrap" id="byPrimarySecondary">
                                <input id="byPrimarySecondarySelection" name="byPrimarySecondary" value="primarySecondary"
                                       type="checkbox"/>
                            </form>
                        </th>
                        <th class="tg-031e" colspan="3">Percentage of</th>
                    </tr>
                    <tr class="querySection">
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">
                            <select id="buildingPrimarySecondaryCity" class="selectStyle">
                                <option selected="" disabled="" hidden="" value="">Choose...</option>
                                <option value="primary"> primary</option>
                                <option value="secondary"> secondary</option>
                            </select>
                        </td>
                        <td class="tg-yw4l">houses is</td>
                        <td class="tg-yw4l">
                            <input id="primarySecondaryNumber" type="text" name="primarySecondaryPercentage" size="3" maxlength="3"
                                   style="height: 25px;"/>
                            <p> &#037; </p>
                        </td>
                    </tr>


                    <tr>
                        <th class="tg-s6z2">
                            <form class="nowrap" id="bySuburbName">
                                <input id="bySuburbNameSelection" name="bySuburbName" value="suburb"
                                       type="checkbox"/>
                            </form>
                        </th>
                        <th class="tg-031e" colspan="3">Suburb is</th>
                    </tr>
                    <tr class="querySection">
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">
                            <select id="buildingSuburbNameCity" class="selectStyle">
                                <option selected="" disabled="" hidden="" value="">Choose...</option>
                            </select>
                        </td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                    </tr>


                    <tr>
                        <th class="tg-s6z2">
                            <form class="nowrap" id="byDistance">
                                <input id="byDistanceSelection" name="byDistance" value="distance"
                                       type="checkbox"/>
                            </form>
                        </th>
                        <th class="tg-031e" colspan="3">Building is nearest to</th>
                    </tr>
                    <tr>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l">
                            <select id="buildingDistanceCity" class="selectStyle">
                                <option selected="" disabled="" hidden="" value="">Choose...</option>
                                <option value="myPosition"> my position</option>
                                <option value="selectedBuilding"> selected building</option>
                            </select>
                        </td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                    </tr>
                    <!--<tr>-->
                    <!--<th class="tg-s6z2"></th>-->
                    <!--<th class="tg-031e" colspan="3"></th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td class="tg-yw4l"></td>-->
                    <!--<td class="tg-yw4l"></td>-->
                    <!--<td class="tg-yw4l"></td>-->
                    <!--<td class="tg-yw4l"></td>-->
                    <!--</tr>-->
                </table>
                <button type="button" class="btn btn-primary btn-lg" id="queryFromBuildingCity" style="float: right">Search</button>
            </div>
            <div style="float: left; margin-left: 10px; min-width: 100%; padding-right: 10pt;">
                <h4 class="subsection-menu">Coverage Map</h4>
                <table class="tg">
                    <tr>
                        <td class="tg-0ord">
                            <!--<form class="nowrap" id="byTypeCover">-->
                            <!--<input id="byTypeCoverage" name="byType" value="type" type="checkbox"/>-->
                            <!--</form>-->
                        </td>
                        <td class="tg-031e">
                            <div>
                                <p>Where type is: </p>
                                <select id="coverageTypeCity">
                                    <option selected="" disabled="" hidden="" value="">Choose...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary btn-lg" id="coverageCity" style="float: right">Show Coverage</button>
            </div>
        </div>
        <div id="queryHistory_menu_tab" class="tab-pane fade">
            <h3>Query History</h3>
            <p id="historyPlaceholder">The history of your queries is going to appear here.</p>
            <ul id="history_list"></ul>
        </div>
        <div id="credits_menu_tab" class="tab-pane fade">
            <h3>Credits</h3>
            <div style="float: left; margin-left: 10px;">
                <div>
                    <h4 class="subsection-menu">Developed by</h4>
                    <p>Andrea Vicari</p>
                </div>

                <div>
                    <h4 class="subsection-menu">Under the supervision of</h4>
                    <div class="">Prof. Dr. <a href="http://www.inf.usi.ch/faculty/lanza/"
                                               target="_blank" class="links_style">Michele Lanza</a>
                    </div>
                    <div class="">Dr. <a href="http://www.inf.usi.ch/postdoc/mocci/" target="_blank"
                                         class="links_style">Andrea Mocci</a>
                    </div>
                    <span class="cesium-credit-image">
                                        <a href="http://reveal.inf.usi.ch/" target="_blank">
                                            <img src="/images/reveal/REVEALogo-black.png" alt="Reveal" title="Reveal"
                                                 style="vertical-align: bottom;"/>
                                        </a>
                    </span>
                </div>

                <div>
                    <h4 class="subsection-menu">Find it on <a href="https://github.com/vicaran/Smart-IVC" target="_blank">GitHub</a></h4>
                </div>
                <div>
                    <p>Developed as a Bachelor Project during Spring Semester 2017 at USI</p>
                    <span class="cesium-credit-image">
                                         <a href="http://www.inf.usi.ch/" target="_blank">
                                             <img src="/images/reveal/logo_usi.png" alt="USI_INF" title="USI_INF" style="vertical-align: bottom;"/>
                                         </a>
                                    </span>
                </div>
                <div>
                    <h4 class="subsection-menu">Powered by:</h4>
                    <div id="cesium_credits_div"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/app.js}" type="text/javascript"></script>
<script th:src="@{/Cesium/Build/Cesium/Cesium.js}" type="text/javascript"></script>
<script th:src="@{/js/environment.js}" type="text/javascript"></script>
<script th:src="@{/js/utils.js}" type="text/javascript"></script>
<script th:src="@{/js/listeners.js}" type="text/javascript"></script>
<script th:src="@{/js/loadObjects.js}" type="text/javascript"></script>


<!--Import babilonjs scripts-->
<script th:src="@{/js/miniCanvas.js}" type="text/javascript"></script>
<script th:src="@{/js/babylon.custom.js}" type="text/javascript"></script>

<script src="http://www.babylonjs.com/hand.minified-1.2.js"></script>
<script src="http://www.babylonjs.com/cannon.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/oimo/1.0.9/oimo.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/2.5.0/babylon.max.js"></script>-->


</html>
